<div class="row h-container">
    <div class="col-md-3">
        <img src="{{repo.imageUrl}}" style="width: 100%" />
    </div>
    <div class="col-md-9">



        <h1>{{repo.name}}</h1>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Community rating</label>
            <div class="star-rating-container">
                <span class="glyphicon glyphicon-star star-rating-glyph star-community-rating" aria-hidden="true"></span>
                <div class="star-rating-text">
                   {{repo.communityRating}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Meta rating</label>
            <div class="star-rating-container">
                <span class="glyphicon glyphicon-star star-rating-glyph star-meta-rating" aria-hidden="true"></span>
                <div class="star-rating-text">
                    {{repo.metarating}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-md-push-3">
        <div class="form-group">
            <label>Your rating</label>
            <p ng-if="!repo.userReview.hasUserRating">
                You haven't added a rating yet
            </p>
            <h3>
                <span ng-repeat="star in repo.userReview.stars">
                    <span class="rating-star glyphicon " ng-class="star.lit ? 'glyphicon-star' : 'glyphicon-star-empty'" ng-click="changeRating($index + 1)" aria-hidden="true"></span>
                </span>
            </h3>
        </div>
        <input type="text" class="form-control" placeholder="Title" ng-model="repo.userReview.title"/>
        <textarea class="form-control" ng-model="repo.userReview.text">
        </textarea>
        <input class="btn btn-default" type="button" value="Add a review" ng-click="saveUserReview()" />

        <div class="form-group">
            <label>Repo description</label>
            <h2>{{repo.description}}</h2>
        </div>
        <input class="btn btn-default" type="button" value="Watch Repo" />
    </div>
</div>
<div class="row h-container">
    <h1>Reviews</h1>
    <div ng-repeat="review in repo.reviews">
        <div class=" form-group">
            <label>Reviewer</label>
            <p>{{review.reviewerAlias}}</p>
        </div>
        <div class=" form-group">
            <label>Title</label>
            <p>{{review.title}}</p>
        </div>
        <div class=" form-group">
            <label>Review Text</label>
            <p>{{review.text}}</p>
        </div>
        <div class=" form-group">
            <label>Rating</label>
            <p>{{review.ratingStars}}</p>
        </div>

    </div>
</div>
<div class="row h-container">
    <h1>Contributors</h1>
    <div>
        <h2 ng-repeat="contributer in repo.contributers">
            <img height="100px" src="{{contributer.imageUrl}}" /> 
            {{contributer.username}}
        </h2>
    </div>
</div>
